body {
	margin: 0%;
	padding: 0%;
}

header {
	display: flex;
	width: 500px;
	height: 500px;
	background-image: url(./multimedia/1er_slide.png);
  background-size:
}

form {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	max-width: 300px;
	margin: 0 auto;
}

button {
	background-color: #8aa29e;
	color: black;
	font-size: 15px;
	margin-top: 20px;
}
